# build products
examples/demo
examples/heaptest
examples/systest
examples/floattest
examples/floatfmt
examples/nettest
examples/rshd
examples/telnetd
examples/aclock
examples/curses
examples/hello
*.o
*.rel
*.a
*.log
ports/vi/vi
ports/busybox/busybox
ports/busybox/apps.cfg
